.popup {
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
  position: relative;

  &--form {
    .popup__body {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;

      @include media("<md") {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
      }
    }
  }

  &--language {
    .popup__body {
      padding: 20px;
    }
  }

  &--xs {
    width: 400px;
    max-width: 100%;
  }

  &__head {
    background-color: #fbfbf9;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  &__title {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.61px;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__close {
    position: absolute;
    z-index: 2;
    width: 30px;
    height: 30px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    background-color: #ffffff;
    overflow: hidden;
    top: -15px;
    right: -15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.popup-image {
  max-width: 1024px;
}

.input-code {
  margin-bottom: 30px;
  width: 100%;
  margin-top: 30px;

  input {
    width: calc(25% - 14px);
    border: none;
    border-bottom: 1px solid #68385b;
    box-shadow: none;
    text-align: center;
    font-size: 35px;
    //margin-right: 9px;
    //margin-left: 9px;

    &:not(:last-of-type) {
      margin-right: 18px;
    }

    &:not(:first-of-type) {
    }
  }
}

.otp {
  width: 340px;
  min-height: 368px;

  &__content {
    padding: 15px 40px 30px;
    text-align: center;
  }

  &__text {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.53px;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__input {
    width: 54px;
    border: none;
    border-bottom: 1px solid #68385b;
    box-shadow: none;
    text-align: center;
    font-size: 35px;
  }

  &__timer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }

  &__timer {
    font-size: 12px;
    letter-spacing: 0.45px;
    color: #4a4a4a;
  }

  &__reset {
    color: #34375a;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.45px;
    line-height: 18px;
  }
}

.popup-location {
  width: 570px;

  &__list {
    padding: 0 30px;
  }

  &__item {
    display: flex;
  }
}

.popup-map {
  width: 650px;

  &__inner {
    padding: 20px;
  }

  &__bg-map {
    height: 500px;
  }

  &__map {
    border: 1px dashed #eeeeee;
    padding: 10px;
    display: flex;
    flex: 1;

    &-wrap {
      display: flex;
    }
  }

  &__form {
    width: 100%;
  }
}

.location-item {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;

  @include media("<md") {
    padding: 10px 0;
  }

  &__title {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  &__icon {
    margin-left: 20px;
    font-size: 18px;
  }
}

.google-maps-search-wrapper {
  position: static !important;
}

.search-address {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  display: flex;

  &__button-save {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin-left: 15px;
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.61px;
    background-color: #33375b;
    width: 108px;
    flex: 0 0 auto;
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 48px;
    box-shadow: 0 3px 9px 1px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    background-color: #ffffff;
    width: 100%;
  }

  &__button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  &__input {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    text-align: left;
    color: #33375b;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.62px;
    border-radius: 2px;
    padding-right: 10px;
    @include transition;

    &::-webkit-input-placeholder {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.62px;
      transition: all ease 0.3s;
    }

    &:-moz-placeholder {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.62px;
      transition: all ease 0.3s;
    }

    &::-moz-placeholder {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.62px;
      transition: all ease 0.3s;
    }

    &:-ms-input-placeholder {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.62px;
      transition: all ease 0.3s;
    }

    &::-webkit-input-placeholder {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.62px;
      transition: all ease 0.3s;
    }

    &:-moz-placeholder {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.62px;
      transition: all ease 0.3s;
    }

    &::-moz-placeholder {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.62px;
      transition: all ease 0.3s;
    }

    &:-ms-textarea-placeholder {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.62px;
      transition: all ease 0.3s;
    }
  }
}

.map-image {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex: 1;
  padding: 30px;
}

.popup-notice {
  min-width: 300px;
  max-width: 100%;

  .popup__body {
    padding: 20px;
  }

  &__message {
    margin-bottom: 10px;
  }
}
